<div class="footer">
  <div class="footer text-center">
        <div class="footer-links">
          <a href="https://github.com/GMalzac" target="blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/gregoire-malzac/?locale=en_US" target="blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <a href="https://www.gregoiremalzac.me/", target="blank">
          <div class="footer-logo">
            <%= image_tag "logov5.png", height: 50 %>
          </div>
        </a>
        <div class="footer-copyright copyright-size">
          Handmade with <i class="fas fa-heart heart"></i>  by myself :) ©2018
        </div>
      </div>
</div>
