<div class="navbar">
  <div class="fixed">
    <!-- Logo -->
    <%= link_to root_path do %>
      <%= image_tag "your_logo_here.png", height: "50", class: "logo-height2" %>
    <% end %>
  </div>
</div>
