// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  margin-bottom: 0px;
  font-size: 24px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 19px;
}

.article-card {
  height: 400px;
}
